<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    <br>
    {{ form.gender.label }}
    {{ form.gender }}
    {{ form.address.label }}<br>
    {{ form.address }}
    <br>
    {{ form.email.label }}
    {{ form.email }}
    <br>
    {{ form.age.label }}
    {{ form.age }}
    <br>
    {{ form.language.label }}
    {{ form.language }}
    <br>
    {{ form.submit }}
</form>

</body>
</html>