{% extends 'base.html' %}

{% block content %}

    <h1>Contact form</h1>

    {% for error in form.name.errors %}
        {{ error }}
    {% endfor %}

    {% for error in form.email.errors %}
        {{ error }}
    {% endfor %}


<form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    <br>
    {{ form.gender.label }}
    {{ form.gender }}
    {{ form.address.label }}<br>
    {{ form.address }}
    <br>
    {{ form.email.label }}
    {{ form.email }}
    <br>
    {{ form.age.label }}
    {{ form.age }}
    <br>
    {{ form.language.label }}
    {{ form.language }}
    <br>
    {{ form.submit }}
</form>

{% endblock %}